name: CI

on:
  push:
    branches: [ main, "feature/*" ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    
    - name: List files (debug)
      run: |
        echo "=== Contenido del directorio raiz ==="
        ls -la
        echo "=== Buscando pom.xml ==="
        find . -name "pom.xml"
        echo "=== Estructura de carpetas ==="
        tree -L 3 || find . -type d -maxdepth 3
        
    - name: Build and test with Maven
      run: mvn -B clean test
